---
layout: default
title: Guz Alexander
---

<ul id="posts">
    {% for post in paginator.posts %}
        <li>
            <span>{{ post.date | date_to_string }}</span>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
    {% endfor %}
</ul>

<div id="pagination">
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a href="/" class="previous">&larr; older entries</a>
        {% else %}
            <a href="/page{{paginator.previous_page}}" class="previous">&larr; older entries</a>
        {% endif %}
    {% endif %}
    {% if paginator.next_page %}
        <a href="/page{{paginator.next_page}}" class="next ">newer entries &rarr;</a>
    {% endif %}
</div>