/* general */
@import url('https://fonts.googleapis.com/css?family=Lora:700,700i');

* { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
body { font-family: Helvetica, sans-serif; font-size: 14px; line-height: 22px; margin: 0; padding: 0; color: black; }

/* links */
a { color: #00a; }
a:hover { color: black; }

/* headings */
h1, h3 { color: black; font-family: 'Lora', serif; }
h1 { font-size: 17pt; }
h3 { font-size: 14pt; margin-top: 24px; margin-bottom: 24px; }

/* layout */
section.container { padding-top: 15px; margin: 0 0 0 25px; width: 660px; }
section.main { clear: both; margin-top: 45px; }
footer { margin: 30px 0 25px 0; }
.clear { clear: both; }
.center { text-align: center; }

/* menu */
header.title > a { color: firebrick; font-size: 14px; }
header.title > a:hover { color: black; }
nav.menu { float: right; }
header.title { float: left; }
nav.menu ul { list-style: none outside none; padding: 0; margin: 0; }
nav.menu ul li { display: inline; margin-right: 5px; }

/* index list */
/*.entry > a { font-size: 12pt; }*/
.entry > span { display: inline-block; margin: 0 4px; }
.entry time, .not_found_list time { color: #24292e; font-size: 11px; font-family: Menlo, 'Bitstream Vera Sans Mono', 'Lucida Console', monospace; }

/* paginator */
nav.pagination { margin-top: 20px; }

/* disqus */
#disqus_thread { margin-top: 42px; }

/* footer */
footer { font-size: 11px; color: #888a85; }
footer a { color: #888a85; }
section.copyright { float: left; }
section.contact { float: right; }

/* article */
time { font-size: 12px; color: #888a85; }
blockquote { font-style: italic; }
article ul, ol { padding-left: 25px; }
article h4.notes { margin-top: 60px; }
article img.left-image { margin-right: 7px; }

/* archive, not found */
ul.list_archive, ul.not_found_list { list-style-type: disc; padding-left: 40px; }
.list_archive h3 { margin-left: -40px; }

/* code */
p > code, li > code {
    color: firebrick;
    white-space: nowrap;
    font-size: 11px;
    font-family: 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Lucida Console', monospace;
}

figure {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin: 0;
}

.highlight pre { margin: 0; line-height: 1.15em; }
.highlight code {
    font-family: 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Lucida Console', monospace;
    font-size: 12px;
    border: none;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}
