@font-face {
    font-family: 'Tiempos Headline';
    src: local('Tiempos Headline Black'), local('TiemposHeadline-Black'),
    url('/static/font/TiemposHeadline-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: local('Tiempos Headline Medium'), local('TiemposHeadline-Medium'),
    url('/static/font/TiemposHeadline-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: local('Tiempos Headline Light'), local('TiemposHeadline-Light'),
    url('/static/font/TiemposHeadline-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* general */
:root {
    --link-color: #0e81b4;
}
html {
    box-sizing: border-box;
    font-kerning: none;
    font-feature-settings: "kern";
}
*, *::before, *::after {
    box-sizing: inherit;
}
::selection {
    background: #eef;
}
body {
    font-family: Georgia, serif;
    font-size: 17px;
    font-weight: normal;
    line-height: 1.7em;
    margin: 0;
    padding: 0;
    color: rgb(17, 17, 17);
    background-color: white;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
sub {
    top: 0.4em;
}

/* links */
a:link, a:active, a:visited {
    color: #0066CC;
}
a:hover {
    text-decoration: none;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: 'Tiempos Headline', Georgia, sans-serif;
}
article h1:first-of-type {
    margin: 10px 0 15px 0;
    font-size: 1.8em;
    font-weight: 500;
    font-family: 'Tiempos Headline', Georgia, serif;
    line-height: 1.3em;
}
article h2, article h3, article h4 {
    line-height: 36px;
    color: black;
}
/*#article-content > p:first-of-type:first-letter {*/
/*    float: left;*/
/*    font-size: 50px;*/
/*    line-height: 30px;*/
/*    padding-top: 12px;*/
/*    padding-right: 11px;*/
/*    padding-left: 3px;*/
/*}*/

/* layout */
section.container {
    display: grid;
    grid-template-columns: 1fr 700px 1fr;
    min-height: 100vh;
}
section.main-wrapper {
    padding: 15px 25px 15px 25px;
}
.center {
    text-align: center;
}
.img-wrapper {
    text-align: center;
}
.img-wrapper figure {
    margin: 0;
    padding: 0;
}
.img-wrapper img {
    max-width: 100%;
}
figcaption {
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
}

/* menu */
nav.menu {
    padding: 25px 35px 0 0;
    display: grid;
    grid-template-rows: min-content;
    row-gap: 30px;
    justify-content: right;
    align-content: flex-start;
    text-align: right;
}
nav.menu ul {
    max-width: 200px;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav.menu li a {
    color: rgb(17, 17, 17);
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 5px;
    padding-right: 5px;
    font-family: 'Helvetica Neue', sans-serif;
}
nav.menu ul li a:hover {
    background-color: rgb(17, 17, 17);
    color: white;
}
nav.menu section#icons {
    display: flex;
    justify-content: flex-end;
}
nav.menu a.icon {
    margin-left: 10px;
}
nav.menu a.icon img {
    opacity: 0.8;
}

/* index list */
.entry {
    margin-bottom: 30px;
}
.entry h1, .entry h3 {
    font-family: 'Tiempos Headline', Georgia, serif;
    font-size: 1.6em;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 1.3em;
}
.entry:first-of-type h1 {
    margin-top: 10px;
}
.entry h1 a, .entry h3 a {
    text-decoration: none;
    color: rgb(17, 17, 17);
}

.post-meta {
    color: #6c6c6a;
    font-size: 0.8em;
    font-family:  'Helvetica Neue', sans-serif;
    margin-top: 5px;
    display: flex;
    column-gap: 5px;
}

/* Share button */
#share-page {
    color: #6c6c6a;
    font-family:  'Helvetica Neue', sans-serif;
    text-align: right;
    display: inline-block;
    flex-grow: 1;
}
#share-page img {
    vertical-align: middle;
}

/* Previous/next */
.post-nav {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 0.9em;
}
.post-nav p {
    flex: 1 1 0;
    width: 45%;
}
.post-nav p:first-child {
    padding-right: 0.5em;
}
.post-nav p:last-child {
    padding-left: 0.5em;
    text-align: right;
}
.post-nav a {
    text-decoration: none;
}

/* footer */
footer {
    color: #6c6c6a;
    font-size: 0.9em;
    font-family: 'Helvetica Neue', sans-serif;
    margin-top: 30px;
}

/* notes */
a.footnote {
    font-family: Consolas, monospace;
}
.footnotes ol {
    padding-left: 17px;
}

/* article */
blockquote {
    border-left: 3px solid black;
    padding-left: 15px;
    margin-left: 0;
    font-style: italic;
}

.left-image {
    margin-right: 10px;
}

.video-player {
    width: 100%;
}
article p {
    margin-bottom: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}
.footnotes p {
    margin-bottom: 0;
}
/* archive, not found */
.list_archive {
    padding: 0;
}
.list_archive li {
    margin-left: 15px;
    list-style-type: none;
}

/* code */
p > code, li > code {
    background-color: #EDF5F1;
    white-space: nowrap;
    padding: 2px;
    border-radius: 3px;
    font-family: Consolas, Menlo, 'Lucida Console', monospace;
    font-size: 0.95em;
}
pre.highlight {
    padding: 0;
    margin: 0;
}
figure.highlight {
    margin: 0;
    line-height: 1.2;
}
figure.highlight pre {
    margin: 0;
}
.highlight code {
    font-family: Menlo, 'Lucida Console', monospace;
    font-size: 0.75em;
    -moz-tab-size: 4;
    tab-size: 4;
}

@media screen and (max-width: 600px) {
    section.container {
        grid-template-columns: none;
        grid-template-rows: 30px 1fr;
    }
    section.main-wrapper {
        width: 100vw;
    }
    nav.menu {
        display: flex;
        padding-top: 5px;
        padding-left: 25px;
    }
    nav.menu ul {
        display: flex;
        max-width: 100vw;
    }
    nav.menu li {
        margin-right: 15px;
    }
    nav.menu a.icon {
        margin-top: 0;
        margin-right: 10px;
    }
    nav.menu section#author {
        display: none;
    }
}
