@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

/* general */
:root {
    --link-color: #0e81b4;
}
html {
    box-sizing: border-box;
    font-kerning: normal;
    font-feature-settings: "kern";
}
*, *::before, *::after {
    box-sizing: inherit;
}
::selection {
    background: #eef;
}
body { 
    font-family: 'EB Garamond', Georgia, serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0; 
    padding: 0; 
    color: #000000; 
}

/* links */
a:link, a:active, a:visited { 
    color: #313131; 
    border-bottom: 2px solid var(--link-color);
    text-decoration: none;
}
a:hover { 
    background-color: #e5ecf8;
    text-decoration: none;
}
/* a[href^="#"] { color: black; background: cornsilk; } */

/* headings */
h1 { 
    font-size: 1.6em;
}
h2 {
    font-size: 1.4em;
}
h3 {
    font-size: 1.2em;
}
h4 {
    font-size: 1.2em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', serif;
    font-weight: 400;
    letter-spacing: -0.7px;
}
section.main h1:first-of-type {
    margin-top: 10px;
}

/* layout */
section.container { 
    width: 540px;
    padding: 0 20px;
    margin: 25px auto; 
}
@media screen and (max-width: 600px) {
    section.container { 
        width: 100%;
        margin: 0 auto; 
    }
}
section.main-wrapper {
    display: flex;
    flex-direction: column;
}
section.main { 
    flex-grow: 1;
}
footer.main-footer { 
    margin-top: 50px;
    display: flex;
}
footer .copyright {
    flex: 1 100%;
}
footer .theme {
    flex: 1 100%;
    text-align: right;
}
.center { 
    text-align: center; 
}

/* menu */
nav.menu {
    padding: 0;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}
nav.menu ul { 
    display: flex;
    justify-content: center;
    list-style: none; 
    padding: 0; 
    margin: 0; 
}
nav.menu ul li { 
    padding: 5px 5px 5px 5px;
} 
nav.menu a { 
    font-family: Georgia, serif;
    font-size: 17px;
    color: rgb(27, 32, 34); 
    padding: 5px;
    background-color: white;
    border: none;
}
nav.menu a:hover { 
    background-color: #3b3a3a;
    color: white;
}
nav.menu a.icon {
    display: table-cell;
    vertical-align: middle;
}
nav.menu a.icon img {
    opacity: 0.4;
    filter: alpha(opacity=40);
}
nav.menu a.icon:hover {
    background-color: white;
}

/* index list */
.entry {
    margin-bottom: 50px;
}
.entry::after {
    content: "..........";
    display: block;
    padding-top: 25px;
    font-size: 42px;
    text-align: center;
}
.entry:last-of-type::after {
    content: none;
}
.entry .bottom {
    display: flex;
    font-size: 0.8em;
    margin-top: 25px;
}
/* .entry > span { display: inline-block; margin: 0 5px; } */
/* .entry { margin-bottom: 2px; } */
/* .entry > time, .not_found_list time { color: #24292e; font-size: 11px; font-family: Menlo, 'Bitstream Vera Sans Mono', 'Lucida Console', monospace; } */

.entry h1 a, .entry h3 a {
    border: none;
}

.entry .bottom time {
    display: block;
    color: rgb(104, 103, 103);
}
.entry .bottom .til {
    background-color: #3b3a3a;
    text-decoration: none;
    color: white;
    padding: 2px 4px;
    border-radius: 2px;
}

/* paginator */
/* nav.pagination { margin-top: 20px; } */

/* disqus */
#disqus_thread { margin-top: 52px; }

/* footer */
footer { font-size: 0.7em; color: #767774; }
/* footer a { color: #888a85; } */
/* section.copyright { float: left; } */
section.theme a { background-color: white; }

/* notes */
ul#notes { list-style-type: none; display: table-row; }
ul#notes li { margin-bottom: 2px; }
ul#notes li .col-1 { display: table-cell; text-align: right; }
ul#notes li .col-2 { display: table-cell; padding-left: 10px; }

/* article */
.main > time {
    display: block;
    margin-top: 25px;
    font-size: 0.8em;
    color: rgb(104, 103, 103);
}
blockquote { 
    background-color: #fffced;
    padding: 2px 10px;
    margin: 0 0 0 15px;
    border-right: 1px solid #f2e6b1;
}
/* article ul, ol { padding-left: 30px; } */
/* article ul { list-style-type: square; } */
/* article ul li::before {
    content: "\25A0";
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}*/
/* ul.list_archive li { margin-bottom: 6px; } */
/* article li { margin-bottom: 10px; } */
/* article h4.notes { margin-top: 60px; } */
/* article img.left-image { margin-right: 7px; } */
article img {
    max-width: 100%;
}
.entry img {
    max-width: 100%;
}
/* .center img { margin-top: 25px; margin-bottom: 25px; } */

/* archive, not found */
.list_archive {
    padding: 0;
}
.list_archive li { 
    list-style-type: none; 
    margin-bottom: 5px;
}
/* .list_archive h2 { margin-left: 0; } */

/* code */
p > code, li > code {
    color: black;
    background-color: #EDF5F1;
    white-space: nowrap;
    padding: 2px;
    border-radius: 3px;
    font-family: Consolas, Menlo, 'Lucida Console', monospace;
    font-size: 0.75em;
}

/* todo: replace with figcaption */
figure.img {
    /*font-style: italic;*/
    font-size: 0.9em;
}
/* figure {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin: 0;
}
figure.img {
    text-align: center;
    font-style: italic;
    font-size: small;
} */
pre.highlight {
    padding: 0;
    margin: 0;
}
figure.highlight {
    margin: 0;
    line-height: 1;
}
figure.highlight pre {
    margin: 0;
}
.highlight code {
    font-family: Menlo, 'Lucida Console', monospace;
    font-size: 0.65em;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}
