<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Guz Alexander" />
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/pygments.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>

<header class="header">
    <div class="wrapper">
        <div class="avatar">
            <a class="avatar-link" href="/"></a>
        </div>
        <div class="header-text">
            <h2 class="header-name">
                <a class="home-link" href="/">Guz <br />Alexander</a>
            </h2>
        </div>
        <div class="social-links">
            <ul class="social-links-icons">
                <li><a target="_blank" class="facebook" href="http://www.facebook.com/kalimatas"></a></li>
                <li><a target="_blank" class="github" href="https://github.com/kalimatas"></a></li>
                <li><a target="_blank" class="feed" href="http://feeds.feedburner.com/GuzAlexander"></a></li>
            </ul>
        </div>
    </div>
</header>

<section class="main">
    {{ content }}
</section>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31916607-1']);
  _gaq.push(['_setDomainName', 'guzalexander.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
