---
layout: default
---

<article>
	{% if page.image %}
	<div class="img-wrapper">
		{% responsive_image_block %}
			path: {{ page.image }}
		{% endresponsive_image_block %}
	</div>
	{% endif %}
	<h1><span>{{ page.title }}</span></h1>
	<section class="post-meta">
		{% assign words=content | number_of_words %}
		<time>{{ page.date | date: "%B %-d, %Y" }}</time> • {% include read_time.html words=words %}
	</section>
	{% if page.description %}
	<section class="description">
		{{ page.description }}
	</section>
	{% endif %}
	<section id="article-content">
		{{ content }}
	</section>
	{% include share.html %}
</article>

