---
layout: default
---

<article class="article">
    <header class="article-header">
        <h1 class="article-title">
            <a class="article-link" href="{{ page.url }}">{{ page.title }}</a>
        </h1>
        <time class="article-date">{{ page.date | date_to_string }}</time>
    </header>
    <div class="article-body">{{ content }}</div>
    <footer class="article-footer">
        {% if page.hhlink %}
            You can discuss this post on <a target="_blank" href="{{page.hhlink}}">Hacker News</a>
        {% endif %}
    </footer>
</article>